<html>
    <head>
        <title>music app</title>
        <link rel="stylesheet" href= "css/style.css" type="text/css" />
     </head>
    <body>
        <h1>Sizzling Music</h1>
        <form method="post" action="/playsong">
            <label for="item1">Enter your mood:</label> <br>
            <input type='radio' value='calm' name='mood' id='radio1' />
            <label for='radio1'>calm</label>
            <input type='radio' value='happy' name='mood' id='radio2' />
            <label for='radio2'>happy</label>
            <input type='radio' value='sad' name='mood' id='radio3' />
            <label for='radio3'>sad</label> <br>
            
            
            <!--<input type="radio" name="mood" value="calm"> calm<br>-->
            <!--<input type="radio" name="mood" value="sad"> sad<br>-->
            <!--<input type="radio" name="mood" value="happy"> happy<br>-->
            <input type="submit" value="Submit" id='submit'> 
      </form>
    </body>    
</html>