<html>
    <head>
        <title>Sizzling Music Picks</title>
        <link rel="stylesheet" href= "css/resultstyle.css" type="text/css" />
     </head>
    <body>
        <h1> Your mood music playlist: </h1>
        <% for video in @thing%>
        <h3> <%= video %> </h3>
        <% end %>
         <a href= "/" >
           <button>Go To Homepage</button>
      </a>
    </body>   
</html>